*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
}

.midden{
    display: flex;
    justify-content: center;
}

.Wakker{
    z-index: 0;
    width: 30em;
    transform:translateX(-15em);
}

#pou{
    width: 30em;
    transform:translateX(15em);
    z-index: 1;
}

.navigatie{
    width: 3em;
}

.GaanSlapen{
    z-index: 2;
}

.navigatieVerbergen{
    width: 3em;
    display: none;
}

.navigatieShow{
    width: 3em;
    display: block;
}

.levels{
    width: 4em;
}

.levelsplaats{
    margin: 2em 1em 1em 55em;
}

.container{
    display: flex;
    justify-content: center;
    margin: 2em 2em 2em 2em;
    text-align: center;
    font-weight: bolder;
}

.elementen{
    width: 7em;
    margin: 0em 1em 0em 1em;
    cursor: pointer;
}